{% extends "base.html.twig" %}

{% block title %}Toutes les annonces{% endblock %}

{% block content %}

    {% include 'components/_page-header.html.twig' with {
        pageHeaderTitle:    'Toutes les offres de stage',
        pageHeaderSubtitle: pagination.total ~ ' offre' ~ (pagination.total > 1 ? 's' : '') ~ ' trouvée' ~ (pagination.total > 1 ? 's' : '')
    } %}

    <!-- BARRE DE RECHERCHE -->
    <section class="search-section" style="margin-bottom:40px">
        {% include 'components/_search.html.twig' %}
    </section>

    <!-- LISTE -->
    <main class="main">
        <div class="container">

            <div class="cards">
                {% for offer in offers %}
                    {% include "components/_offer-card.html.twig" %}
                {% else %}
                    <p>Aucune offre trouvée.</p>
                {% endfor %}
            </div>

            <!-- PAGINATION -->
            {% if pagination.totalPages > 1 %}
                <nav class="pagination">

                    {% if pagination.currentPage > 1 %}
                        <a class="pagination-btn" href="/offers?page={{ pagination.currentPage - 1 }}{% if q %}&q={{ q|url_encode }}{% endif %}{% if city %}&city={{ city|url_encode }}{% endif %}">‹</a>
                    {% endif %}

                    {% for page in 1..pagination.totalPages %}
                        <a class="pagination-btn {% if page == pagination.currentPage %}active{% endif %}" href="/offers?page={{ page }}{% if q %}&q={{ q|url_encode }}{% endif %}{% if city %}&city={{ city|url_encode }}{% endif %}">
                            {{ page }}
                        </a>
                    {% endfor %}

                    {% if pagination.currentPage < pagination.totalPages %}
                        <a class="pagination-btn" href="/offers?page={{ pagination.currentPage + 1 }}{% if q %}&q={{ q|url_encode }}{% endif %}{% if city %}&city={{ city|url_encode }}{% endif %}">›</a>
                    {% endif %}

                </nav>
            {% endif %}

        </div>
    </main>

{% endblock %}
